/DellyShopApp/DellyShopApp.Android/bin/
/DellyShopApp/DellyShopApp.Android/obj/
/DellyShopApp/DellyShopApp/bin/
/DellyShopApp/DellyShopApp/obj/
/DellyShopApp/DellyShopApp.iOS/bin/
/DellyShopApp/DellyShopApp.iOS/obj/
